@import './vars/index.scss';
@import './components/index.scss';


html, body {
  margin: 0;
  font-family: $primary-font;
  color: $primary-color;
  overflow-y: auto;
}


body {
  display: flex;
  flex-direction: column;
  background-color: $background-color-1;
  background-image: url($backgorund-image);
  min-height: $screen-height;
}
